# =========================
# Server
# =========================
PORT=
NODE_ENV=

# =========================
# MongoDB
# =========================
MONGO_URI=
DB_USERNAME=
DB_PASSWORD=

# =========================
# SMTP
# =========================
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SENDER_EMAIL=

# =========================
# Environment
# =========================
ENVIRONMENT=dev